// vars
$fonts: '../fonts/';
$images: '../images/';

// fonts
$OpenSans: 'Open Sans', sans-serif;
$Banny: "Banny", sans-serif;

$breakpoints: (
	phone-xs: 375px,
	phone: 768px,
	tablet: 992px,
	desktop: 1200px,
	desktop_lg: 1400px,
);

// font settings
$grid-gutter-width: 15px;
$container-large-desktop: 1310px;

$font-family-base: $OpenSans;
$font-size-base: 14px;
$line-height-base: 1.6;
$font-size-h1: 96px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;

$paragraph-spacing: 0 0 15px;

$hover-opacity: 0.8;
$time-animation: 0.3s;

// colors
$white: #fff;
$black: #000;
$gray: #333;
$gray_light: #E5E5E5;
$red: #F9403D;
$yellow: #E8C300;


$base-color: $black;
$body-bg: $white;

$link-color: $black;

$btn-color: $white;
$btn-border-radius-base: 5px;
$btn-font-size: 12px;
$btn-line-height: 20px;
$btn-font-weight: 700;